<div class="hero h-auto p-20">
  <div class="hero-content">
    <div class="max-w-md">


      <div class="card w-96 shadow-xl mt-20">
        <div class="card-image border-solid border-2 border-primary-content rounded-tl-xl rounded-tr-lg">
          <figure class="image-full" style="height:150px">
            <%= image_tag(@opponent.sprite) %>
          </figure>
        </div>
        <div class="card-body bg-primary-content rounded-bl-xl rounded-br-lg items-center text-center">
          <h2 class="card-title text-center">
            <%= @trainer.name %> VS <%= @opponent.name %>
          </h2>
          <p>Gotta catch 'em all!</p>
          <div class="divider"></div>
          <div class="card-actions">
            <%= form_with(model: @battle) do |form| %>
              <%= form.hidden_field :trainer_id, value: @trainer.id %>
              <%= form.hidden_field :opponent_id, value: params[:opponent_id] %>
              <%= form.hidden_field :battle_type, value: params[:battle_type] %>

              <%= form.submit "Start", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
